.qltsx { 
  border-top-width: 99px;
  padding-left: 63px;
  border-left-width: 42px;
  margin-right: 91px;
  padding-bottom: 0px;
  padding-top: 86px;
  padding-top: 18px;
  margin-top: 66px;
  border-left-width: 90px;
  margin-left: 75px;
  padding-right: 45px;
  border-bottom-width: 48px;
  border-right-width: 25px;
  font-size: 84px;
  line-height: 42px;
  margin-right: 86px;
  border-top-width: 82px;
  padding-left: 47px;
  border-left-width: 97px;
  border-bottom-width: 41px;
  margin-bottom: 42px;
  font-size: 99px;
  line-height: 95px;
  margin-bottom: 83px;
  font-size: 59px;
  border-bottom-width: 48px;
  font-size: 30px;
  margin-top: 89px;
  line-height: 47px;
  border-left-width: 75px;
}
